{% extends "components/layout.html" %}

{% block title %}Dashboard{% endblock%}
{% block content %}
<H1>Dashboard</H1>

<div class="container mt-g">
    <h1 class="text-center mb-4">Pending Requests</h1>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Supervisor</th>
                <th>Employee</th>
                <th>Department</th>
                <th>Warning</th>
                <th>Reason</th>
                <th>Details</th>
                <th>Status</th>
                <th>Requested</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
            <tr>
                <td>{{ request[0] }}</td>  <!-- request_id -->
                <td>{{ request[1] }}</td>  <!-- user -->
                <td>{{ request[2] }}</td>  <!-- employee -->
                <td>{{ request[3] }}</td>  <!-- department -->
                <td>{{ request[4] }}</td>  <!-- warning -->
                <td>{{ request[6] }}</td>  <!-- reason -->
                <td>{{ request[7] }}</td>  <!-- notes -->
                <td>{{ request[5] }}</td>  <!-- status -->
                <td>{{ request[8] }}</td>  <!-- requestdate -->
                <td>{{ request[9] }}</td>  <!-- requestdate -->
                <td>
                    <a href="/update/{{ request[0] }}" class="btn btn-primary">Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}