{% extends "components/layout.html" %}

{% block title %}Edit Request{% endblock %}

{% block content %}
<div class="row m-md-5 m-3">
    <h1>Update Request</h1>
</div>

<form method="POST" action="/updateRequest/{{ request_data['request_id'] }}" class="row g-3 mx-sm-5 mx-2">
    <div class="col-md-4">
        <label for="employee_id" class="form-label">Employee:</label>
        <select name="employee_id" class="form-select" required>
            {% for employee in employees %}
                <option value="{{ employee['employee_id'] }}" {% if employee['employee_id'] == request_data['employee_id'] %}selected{% endif %}>
                    {{ employee['firstname'] }} {{ employee['lastname'] }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-4">
        <label for="supervisor_id" class="form-label">Supervisor:</label>
        <select name="supervisor_id" class="form-select" required>
            {% for supervisor in supervisors %}
                <option value="{{ supervisor['employee_id'] }}" {% if supervisor['employee_id'] == request_data['supervisor_id'] %}selected{% endif %}>
                    {{ supervisor['firstname'] }} {{ supervisor['lastname'] }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-4">
        <label for="department_id" class="form-label">Department:</label>
        <select name="department_id" class="form-select" required>
            {% for dept in departments %}
                <option value="{{ dept['department_id'] }}" {% if dept['department_id'] == request_data['department_id'] %}selected{% endif %}>
                    {{ dept['department'] }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-4">
        <label for="warning_id" class="form-label">Warning:</label>
        <select name="warning_id" class="form-select" required>
            {% for warning in warnings %}
                <option value="{{ warning['warning_id'] }}" {% if warning['warning_id'] == request_data['warning_id'] %}selected{% endif %}>
                    {{ warning['warning'] }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-4">
        <label for="reason_id" class="form-label">Reason:</label>
        <select name="reason_id" class="form-select" required>
            {% for reason in reasons %}
                <option value="{{ reason['reason_id'] }}" {% if reason['reason_id'] == request_data['reason_id'] %}selected{% endif %}>
                    {{ reason['reason'] }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-4">
        <label for="notes" class="form-label">Notes:</label>
        <input type="text" name="notes" value="{{ request_data['notes'] }}" class="form-control" required>
    </div>

    <div class="col-md-4">
        <label for="notes" class="form-label">Handle by:
        <input type="text" name="notes" value="{{ request_data['assigned_employee_name'] }}" class="form-control" required>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-outline-primary" type="submit">Update Request</button>
        <button class="btn btn-outline-danger" type="button" onclick="window.location.href='/requests'">Cancel</button>
    </div>
</form>

<div class="container-fluid w-90 mt-3">
    <h1 class="text-center mb-4">Requests</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID #</th>
                <th scope="col">Employee</th>
                <th scope="col">Supervisor</th>
                <th scope="col">Department</th>
                <th scope="col">Warning</th>
                <th scope="col">Reason</th>
                <th scope="col">Notes</th>
                <th scope="col">Request Date</th>
                <th scope="col">Update Date</th>
                <th scope="col">Status</th>
                <th scope="col">Update</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for request in requests %}
            <tr>
                <td>{{ request[0] }}</td>
                <td>{{ request[2] }}</td>
                <td>{{ request[1] }}</td>
                <td>{{ request[3] }}</td>
                <td>{{ request[4] }}</td>
                <td>{{ request[5] }}</td>
                <td>{{ request[6] }}</td>
                <td>{{ request[7] }}</td>
                <td>{{ request[8] }}</td>
                <td>{{ request[9] }}</td>
                <td>
                    <a href="/editRequest/{{ request[0] }}" class="btn btn-outline-warning">Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
